/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #121212;
  color: white;
  min-height: 100vh;
}

/* Tela escurecida de fundo */
.form-background {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro com opacidade */
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Container do formulário */
.form-container {
  background-color: #1f1f1f;
  padding: 25px;
  border-radius: 15px;
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Título */
.form-container h2 {
  text-align: center;
  font-size: 1.4rem;
  color: #f0f0f0;
}

/* Rótulo e campo de entrada */
.input-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 0.95rem;
}

.input-label label {
  color: #cccccc;
}

.input-label input {
  height: 40px;
  padding: 8px;
  font-size: 0.95rem;
  border-radius: 8px;
  border: none;
  background-color: #2c2c2c;
  color: white;
  transition: background-color 0.3s ease;
}

.input-label input:focus {
  background-color: #3a3a3a;
  outline: none;
}

/* Botão */
.btn {
  display: flex;
  justify-content: center;
}

.disabled {
  opacity:50%;
}

.invisible {
  display: none;
}

button {
  background-color: #6a8afe;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #536dfe;
  transform: scale(1.05);
}
