* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Background */
body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFFFFF;
}

.buttons{
    display:flex;
    flex-direction: column !important;
    align-items: center;
    gap:25px
}

/* Container */
.container {
    text-align: left;
    width: 100%;
    max-width: 400px;
    align-items:center;
}

.links{
    gap:20px
}
.links a{
    color:white
}

/* Title */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    margin-bottom: 20px;
    font-weight: 300;
}


/* Subtitle */
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 0.92em;
}

.container-center{
    display:flex;
    align-items: center;
    flex-direction: column;
}

/* Input Fields */
.input-field {
    background-color: #2C2C2C;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 12px 15px;
    font-size: 1em;
    color: #B3B3B3;
    margin-top: 10px;
    margin-bottom: 15px;
}

.input-field::placeholder {
    color: #B3B3B3;
}

/* Helper text */
.helper-text {
    font-size: 0.75em;
    color: #B3B3B3;
    margin-bottom: 20px;
    transform: translateX(2.4vh);
}

/* Buttons */
.button {
    width: 45%;
    padding: 12px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 400;
    background-color: #3A3A3A;
    color: #FFFFFF;
    border: none;
    margin: 5px;
    cursor: pointer;
    margin-top: 40px;
}

#loginLink, #signInLink, #redefinitionLink{
    color: #e1e1e1;
    font-size: 0.8em;
}

.passwordInputContainer {
    display:flex;
    width: 100%;
    align-items: left;
    flex-direction: column;
}

.disabled{
    background-color: #3a3a3a7c;
    color: #ffffff71;
}

.button:hover {
    background-color: #5A5A5A;
}